//Landing page

button.getLocation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  color: burlywood;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  padding: 5px;
}
.button-text {
  color: black;
  background-color: burlywood;
  padding: 10px;
  border-radius: 10px;
  outline: 2px ridge black;
}

.button-text:hover {
  color: black;
  background-color: blanchedalmond;
}

button {
  text-align: center;
  background-color: transparent;
  border: none;
  margin: 0;
  cursor: pointer;
}

form {
  border: 1px solid grey;
  border-radius: 100px;
  padding: 8px 10px;
  display: flex;
  gap: 5px;
  width: 200px;
  margin: 0 auto;
}

input {
  border: none;
  outline: none;
  width: 100%;
}

.or {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  padding: 5px;
}

.search {
  margin-top: 20px;
  height: 20px;
  width: 20px;
}

.dayOne {
  background-color: green;
  border-radius: 20px;
  text-align: center;
  border: 2px solid #beb47f;
  width: 90%;
  margin: 0 auto;
  height: 220px;
  position: relative;
}

.dayOne img {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.dayOne p {
  margin-top: 100px;
}

.day {
  background-color: blueviolet;
  border-radius: 20px;
  text-align: center;
  border: 2px solid #beb47f;
  width: 14%;
  margin: 25px 5%;
  height: 220px;
  float: left;
}

.city {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}

@media screen and (max-width: 400px) {
  .day {
    width: 90%;
    margin: 2% auto;
    float: none;
  }
}

.suncontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
